/* Navbar */

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgba(0,0,0,1);
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
    text-align:center;
}

.sidenav a {
    padding: 20px 8px 20px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;

}


.open-nav {
  color: white;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}


@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

.navbar-nav.social-buttons li span.bigread-social-btn {
    color: white;
}

.icon {
    width: inherit;
    height: inherit;
}

.navbar {
    min-height: 65px;
}

.navbar-brand {
    height: 50px;
    padding: 15px;
    padding-left: 20px;
    padding-right: 20px;
}

.logo {
    position: absolute;
    height: 50px;
    width: 50px;
    float: none;
    text-align: center;
    margin: -25px 0 10px -25px;
    left: 50%;
    top: 50%;
}

.navbar.navbar-custom.navbar-fixed-top .logo {
    display: inline-block;
}

.dropdown.navbar-custom.navbar-nav.navbar-li {
    border-bottom: none;
}

.dropdown-menu {
    width: 100%;
    padding: 0px;
}

.dropdown-menu > li > a {
    color: black;
    background-color: white;
}

.dropdown-menu > li > a:hover {
    background-color: #a31e22;
    color: white;
}

.dropdown-menu .divider {
    background-color: white;
    height: 2px;
    margin: 0%;
}

.navbar.navbar-custom.navbar-fixed-top.top-nav-collapse .logo {
    display: inline-block;
}

.dropdown-toggle.mobile {
    font-size: 16px;
    color: #fff;
    height: 24px;
    padding: 0;
    float: left;
    margin: 14px 0 0 15px;
    background-color: transparent;
}

.dropdown-menu {
    background-color: white;
    color: black;
    margin-top: 0%;
    border: none;
    border-radius: 0 0 4px 4px;
}

.btn.btn-secondary.dropdown-toggle:hover {
    background-color: #a31e22;
    color: white;
}

.dropdown-submenu {
    position: relative;
}

.dropdown-submenu>.dropdown-menu {
    top: 0;
    left: 100%;
    margin-top: -6px;
    margin-left: -1px;
    -webkit-border-radius: 0 6px 6px 6px;
    -moz-border-radius: 0 6px 6px;
    border-radius: 0 6px 6px 6px;
}

.dropdown-submenu:hover>.dropdown-menu {
    display: block;
}

.dropdown-submenu>a:after {
    display: block;
    content: " ";
    float: right;
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid;
    border-width: 5px 0 5px 5px;
    border-left-color: #ccc;
    margin-top: 5px;
    margin-right: -10px;
}

.dropdown-submenu:hover>a:after {
    border-left-color: #fff;
}

.dropdown-submenu.pull-left {
    float: none;
}

.dropdown-submenu.pull-left>.dropdown-menu {
    left: -100%;
    margin-left: 10px;
    -webkit-border-radius: 6px 0 6px 6px;
    -moz-border-radius: 6px 0 6px 6px;
    border-radius: 6px 0 6px 6px;
}

#top-divide {
    margin-top: 0%;
}

.navbar-custom {
    text-shadow: none;
}

.navbar-custom a {
    color: #fff;
}

.navbar-custom .nav li a {
    -webkit-transition: background .3s ease-in-out;
    -moz-transition: background .3s ease-in-out;
    transition: background .3s ease-in-out;
}

.top-nav-collapse .navbar-custom .nav li a:hover {
    outline: 0;
    color: rgba(0,255,0,1);
    background-color: transparent;
}

.navbar-custom .nav li a:focus,
.navbar-custom .nav li a:active {
    outline: 0;
    background-color: transparent;
}

.navbar-custom .nav li.active {
    outline: 0;
}

.navbar-custom .nav li.active a {
    background-color: rgba(255,255,255,.3);
}

.navbar-custom .nav li.active a:hover {
    color: #fff;
}

.nav.navbar-nav.social-buttons {
    margin-top: 12px;
}

.beer-counter {
    position: absolute;
    top: 50%;
    right: 2.5%;
}

.beer-counter .dropdown-menu {
    width: 100%;
    top: 100%;
    min-width: 0px;
    right: 2.5%;
}

.beer-counter .dropdown-menu li {
    background: white;
}

.counter-info {
    color: black;
    font-size: 14px;
    text-align: center;
    margin-bottom: 0px;
    padding-top: 5px;
}

#demo {
    color: #a31e22;
    font-size: 18px;
    text-align: center;
    font-weight: 700;
}

.highlight {
    color: #a31e22;
    font-size: 14px;
    font-weight: 700;
}

.org-name {
    float: right;
    margin-top: 12.5px;
    margin-left: 5px;
}
